body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.topnav {
        overflow: hidden;
        background-color: #686868;
}

.topnav a {
          float: right;
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
}

.topnav a:hover {
                background-color: #ddd;
                color: black;
}

.topnav a.active {
                 background-color: black;
                 color: white;
}

.topnav .icon {
              display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
                 float: right;
                 display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
                           position: absolute;
                           right: 0;
                           top: 0;
  }
.topnav.responsive a {
                     float: none;
                     display: block;
                     text-align: right;
  }
  
  
}

.square-100 {
            width: 100px;
            height: 100px;
}
.bg-white {
           background-color: #fff;
}
.circle {
        border-radius: 50%;
}
.border {
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0,0,0,.125);
}
.p1 {
    padding: .5rem;
}
a img {
      border: none;
}
img {
    max-width: 100%;
}
a {
  color: #0096cc;
  text-decoration: none;
}
a {
  color: #0074d9;
  text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
                   color: -webkit-link;
                   cursor: pointer;
}
.center {
    text-align: center;
}
h4 { 
   margin-left: 540px;

}
h3, h4{
       display: inline;
}
@media only screen and (max-width: 1200px) {
 h4 {
	display: none;
    }
}

.sticky-footer {
	           position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               background-color: #585858;
               color: white;
               text-align: left;
	           
} 
h1{
  font-size: 17px;
}	 
.coming-soon {
	          color:#330066;
	          padding: 200px;
	          text-align: center;
			  
}			  




